<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario | Cultura Mecanica</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header id="header" class="views-form">
        <div class="nav-brand brand ">
            <a href="../index.html">
                <img src="../img/logo.png" alt="Cultura Mecanica">
            </a> 
        </div>
    </header>
    <main>
        <div class="form-container">
            <form action="">
                <div class="form-title">
                    <h2>Registro de usuario</h2>
                </div>
                <div class="form-body">
                    <div class="form-input fullname">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                        <input type="text" name="apellido" id="apell" placeholder="Apellido">
                    </div>
                    <div class="form-input">
                        <input type="email" name="email" id="email" placeholder="Correo eléctronico">
                    </div>
                    <div class="form-input">
                        <input type="password" name="pass" id="passwrd" placeholder="Contraseña">
                    </div>
                    <div class="form-input">
                        <input type="password" name="conf-pass" id="conf-pass" placeholder="Confirme contraseña">
                    </div>
                    <div class="form-input">
                        <input type="text" name="" id="" placeholder="Nombre de usuario">
                    </div>
                    <div class="form-input">
                        <input type="submit" value="Crear cuenta">
                    </div>
                </div>
                <div class="form-footer">
                    <div class="footer-account">
                        <span>¿Ya tienes tú cuenta?</span>
                    </div>
                    <div class="footer-account link">
                        <a href="./login.html">Iniciar sesión</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>  
</html>